.idea/**
!.idea/codeStyles/
!.idea/vcs.xml
!.idea/gradle.xml

.gradle/
**/.gradle/

.kotlin/
**/.kotlin/

build/
**/build/

local.properties
**/local.properties

server/application-local.conf
server/service-account.json
server/firebase-config.json
