<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".LexikoApp"
    android:appComponentFactory="dev.efemoney.lexiko.app.di.ComponentFactory"
    android:enableOnBackInvokedCallback="true"
    android:icon="@null"
    android:supportsRtl="true"
    tools:ignore="UnusedAttribute"
    tools:replace="android:appComponentFactory">

    <activity
      android:name=".LexicoActivity"
      android:exported="true"
      android:label="Lexiko"
      android:rotationAnimation="seamless"
      android:windowSoftInputMode="adjustResize">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>

  </application>

</manifest>
